<h5>Hunt Overview</h5>
<div id="currentHuntDiv" data-hunt="">
  <p>
    <button id="watchlistBtn" type="button" class="navBtn" data-view="watchlist">Watchlist</button>
    <button id="mapBtn" type="button" class="navBtn" data-view="map">Map</button>
    <button id="weatherBtn" type="button" class="navBtn" data-view="weather">Weather</button>
    <button id="allHuntsBtn" type="button" class="navBtn" data-view="hunts-list">All Hunts</button>
  </p>
  <p id="currentHuntName">name</p>
  <p id="currentHuntDate">date</p>
  <p id="currentHuntQuarry">quarry</p>
  <p id="currentHuntType">type</p>
  <p id="currentHuntStand">stand</p>
  <p>
    <button id="newFieldNotesBtn" type="button" class="navBtn" data-view="field-notes">Add Field Notes</button>
    <button id="newPhotoBtn" type="button" class="navBtn" data-view="new-photo">Take Photo</button>
    <button id="newHarvestBtn" type="button" class="navBtn" data-view="new-harvest">Harvest</button>
  </p>

  <div id="eventsListDiv">[Events (such as field notes logs) go here]</div>

</div>

<script src="/src/js/app.js"></script><!-- main app script -->
<script>
  document.getElementById("currentHuntDiv").addEventListener("click", chooseAndShowView, false);
</script>
