
<h5>Hunts List</h5>
<div id="huntsListDiv" class="formComponent centered"></div>
<button type="button" id="backToPortalBtn" class="navBtn" data-view="portal">Back</button>

<script src="/src/js/app.js"></script><!-- main app script -->
<script type="text/javascript">  

  //listeners
  document.getElementById("backToPortalBtn").addEventListener("click", chooseAndShowView, false);
  document.getElementById("huntsListDiv").addEventListener("click", chooseHuntFromList, false);

</script>
