<h5>Start Hunt</h5>

<!-- CSS: move this to a stylesheet -->
<style type="text/css">
  h5 { margin-bottom: 30px; }
  .formComponent { margin: 15px 0; }
  #expansionWidget { margin: 0 auto; width: 80%; max-width: 172px; }
  .listExpander { position: relative; }
  .listExpander select { width: 100%; font-weight: bold}
  .optionsHider { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }

  #checkboxList { display: none; }
  #checkboxList label { display: block; width: 200px;}
  #checkboxList label:hover { background-color: #cccccc; }
 
  #submitNewHuntBtn { margin-top: 30px; }
  
</style>

<!-- form -->
<form id="newHuntForm">

  <!-- text fields -->
  <div class="formComponent"><label><input id="newHuntName" type="text" placeholder="Hunt Name" /></label></div>
  <div class="formComponent"><label><input id="newHuntQuarry" type="text" placeholder="Quarry" /></label></div>
  <div class="formComponent"><label><input id="newHuntType" type="text" placeholder="Type (eg 'Stand')" /></label></div>
  <div class="formComponent"><label><input id="newHuntStand" type="text" placeholder="Stand (if any)" /></label></div>

  <!-- animal list -->
  <div>
    <div id="expansionWidget">
      <div class="listExpander">
        <select><option>Watch List</option></select>    
        <div class="optionsHider"></div>
      </div>
      <div id="checkboxList" >
        <!-- I'd like to populate this dynamically from an array (prolly from the database) -->
        <label for="doe"><input type="checkbox" name="newHuntAnimals" id="doe" value="doe" />Doe</label>
        <label for="buck"><input type="checkbox" name="newHuntAnimals" id="buck" value="buck" />Buck</label>
        <label for="sasquatch"><input type="checkbox" name="newHuntAnimals" id="sasquatch" value="sasquatch" />Sasquatch</label>
      </div>
    </div>
  </div>

  <!-- buttons -->
  <div class="formComponent"><button type="button" id="submitNewHuntBtn" class="navBtn" data-view="hunt-overview">Start!</button></div>
  <div class="formComponent"><button type="button" id="cancelNewHuntBtn" class="navBtn" data-view="portal">Cancel</button></div>

</form>


<!-- scripts -->
<script src="/src/js/app.js"></script><!--main app script -->

<script type="text/javascript">
  // expand or collapse list of animals
  var expanded = false;
  function toggleChoices() {
    var checkboxList = document.getElementById("checkboxList");
    if (!expanded) {
      checkboxList.style.display = "block";
      expanded = true;
    } else {
      checkboxList.style.display = "none";
      expanded = false;
    }
  }


function Hunt(name, quarry, type, stand, watchlist){
  // Constructor for Hunt objects
  this.huntName = name;
  this.huntId = Date.now();
  this.quarry = quarry;
  this.huntType = type;
  this.stand = stand;
  this.watchlist = watchlist || []; //cuz otherwise passing an empty array breaks the code
  this.huntEvents = [];
}

function makeNewHunt(){
  let huntName = document.getElementById("newHuntName").value || "";
  let quarry = document.getElementById("newHuntQuarry").value || "";
  let huntType = document.getElementById("newHuntType").value || "";
  let stand = document.getElementById("newHuntStand").value || "";

  let animals = [];
  let animalOptions = document.getElementsByName("newHuntAnimals");
  for (let i = 0; i < animalOptions.length; i++){
    let box = animalOptions[i];
    if(box.checked === true){
      animals.push(box.value);
    }
  }

  let hunt = new Hunt(huntName, quarry, huntType, stand, animals);
  alert(hunt.huntName);

//  let str = huntName + " " + quarry + " " + huntType + " " + stand + " ";
//  for (let a of animals){ str += a + " "; }
//  alert(str);
}

  // register event listeners
  document.querySelector('.listExpander').addEventListener("click", toggleChoices);
  document.getElementById('submitNewHuntBtn').addEventListener("click", makeNewHunt, false);
  document.getElementById('newHuntForm').addEventListener("click", chooseAndShowView, false);

</script>
