  <div id="portalDiv" class="centered">
    <p><button id="startHuntBtn" class="navBtn" data-view="new-hunt">Start Hunt</button></p>
    <p><button id="viewHuntsBtn" class="navBtn" data-view="hunts-list">View Hunts</button></p>
    <p><button id="predictionBtn" class="navBtn" data-view="predictions">Predictify</button></p>
  </div>

  <script type="text/javascript">

    var portalDiv = document.getElementById("portalDiv");
    portalDiv.addEventListener("click", chooseAndShowView, false);
    

    function chooseAndShowView(event) {
      //would be good to generalize this function for use elsewhere
      var navBtns = document.querySelectorAll("#portalDiv .navBtn");
      for (var btn of navBtns){
        if (event.target == btn){
          
          var view = btn.getAttribute('data-view');
          alert(view);
//          changeView(view);


            //changeView() isn't working at all...



        }
      }
      event.stopPropagation(); //don't bother bubbling the event up any further
    }
  </script>
