<p id="watchlistViewTitle">Edit watchlist</p>
<button type="button" id="fromWatchlistBackToHuntBtn" data-view="hunt-overview" data-hunt="">Back</button>

<script src="/src/js/app.js"></script><!-- main app script --> 
<script type="text/javascript">
  document.getElementById("fromWatchlistBackToHuntBtn").addEventListener("click", chooseAndShowView, false);
</script>

<!--
<p>Not gonna use this, just a "details" element demo</p>
<details> //details has an open attribute that determines the state (like 'expanded')
  <summary>Header for spoiler</summary>
  <div>
    <p> Awesome secret hidden stuff</p>
    <details> //details has an open attribute that determines the state (like 'expanded')
	  <summary>Header for inner spoiler</summary>
	  <p>Double secret probation stuff!</p>
	</details>
  </d>
</details>
-->
